<?xml version="1.0" ?>
<robot name="multirotor">
	<link name="frame">
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="10.0"/>
			<inertia ixx="0.01666666666666667" ixy="0.0" ixz="0.0" iyy="0.01666666666666667" iyz="0.0" izz="0.01666666666666667"/>
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="white">
				<color rgba="1 1 1 1"/>
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
		</collision>
	</link>
	<joint name="propeller_1_joint" type="fixed">
		<parent link="frame"/>
		<child link="propeller_1"/>
		<origin xyz="0.1 0.0 0.0" rpy="0 0 0"/>
	</joint>
	<link name="propeller_1">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.02" radius="0.05"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="propeller_2_joint" type="fixed">
		<parent link="frame"/>
		<child link="propeller_2"/>
		<origin xyz="0.0 0.1 0.0" rpy="0 0 0"/>
	</joint>
	<link name="propeller_2">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.02" radius="0.05"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="propeller_3_joint" type="fixed">
		<parent link="frame"/>
		<child link="propeller_3"/>
		<origin xyz="-0.1 0.0 0.0" rpy="0 0 0"/>
	</joint>
	<link name="propeller_3">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.02" radius="0.05"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="propeller_4_joint" type="fixed">
		<parent link="frame"/>
		<child link="propeller_4"/>
		<origin xyz="0.0 -0.1 0.0" rpy="0 0 0"/>
	</joint>
	<link name="propeller_4">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.02" radius="0.05"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>
</robot>